In [1]:
import numpy as np

In [27]:
import numpy as np
np.random.seed(123)

a = np.random.uniform(size=(10,768)) # or (512,3)
b = np.random.uniform(size=(100,768)) # or (1024,3)

diff = b[np.newaxis,:,:] - a[:,np.newaxis,:]

dist = np.linalg.norm(diff, axis=-1)

In [28]:
dist.shape

(10, 100)

In [29]:
np.argsort(dist, axis=-1)[:, -4:].shape

(10, 4)

In [1]:
import json

In [2]:
documents = []
with open("./data/pokemon.json", "r") as f:
    for line in f:
        documents.append(json.loads(line))

In [3]:
import pandas as pd

In [20]:
df = pd.DataFrame(documents)

In [21]:
df

,name,shortname,hp,info,images,moves
0,Abra,abra,160,"{'id': 63, 'type': 'psychic', 'weakness': 'dar...","{'photo': 'images/abra.jpg', 'typeIcon': 'icon...","[{'name': 'Double Team', 'type': 'normal'}, {'..."
1,Aerodactyl,aerodactyl,270,"{'id': 142, 'type': 'flying', 'weakness': 'wat...","{'photo': 'images/aerodactyl.jpg', 'typeIcon':...","[{'name': 'Bite', 'dp': 60, 'type': 'dark'}, {..."
2,Alakazam,alakazam,220,"{'id': 65, 'type': 'psychic', 'weakness': 'dar...","{'photo': 'images/alakazam.jpg', 'typeIcon': '...","[{'name': 'Focus Blast', 'dp': 120, 'type': 'f..."
3,Arbok,arbok,230,"{'id': 24, 'type': 'poison', 'weakness': 'psyc...","{'photo': 'images/arbok.jpg', 'typeIcon': 'ico...","[{'name': 'Acid', 'dp': 40, 'type': 'poison'},..."
4,Arcanine,arcanine,290,"{'id': 59, 'type': 'fire', 'weakness': 'water'...","{'photo': 'images/arcanine.jpg', 'typeIcon': '...","[{'name': 'Bite', 'dp': 60, 'type': 'dark'}, {..."
...,...,...,...,...,...,...
146,Weepinbell,weepinbell,160,"{'id': 70, 'type': 'grass', 'weakness': 'fire'...","{'photo': 'images/weepinbell.jpg', 'typeIcon':...","[{'name': 'Acid', 'dp': 40, 'type': 'poison'},..."
147,Weezing,weezing,160,"{'id': 110, 'type': 'poison', 'weakness': 'psy...","{'photo': 'images/weezing.jpg', 'typeIcon': 'i...","[{'name': 'Assurance', 'dp': 60, 'type': 'dark..."
148,Wigglytuff,wigglytuff,160,"{'id': 40, 'type': 'fairy', 'weakness': 'poiso...","{'photo': 'images/wigglytuff.jpg', 'typeIcon':...","[{'name': 'Brick Break', 'dp': 75, 'type': 'fi..."
149,Zapdos,zapdos,160,"{'id': 145, 'type': 'electric', 'weakness': 'r...","{'photo': 'images/zapdos.jpg', 'typeIcon': 'ic...","[{'name': 'Ancient Power', 'dp': 120, 'type': ..."
150,Zubat,zubat,160,"{'id': 41, 'type': 'poison', 'weakness': 'psyc...","{'photo': 'images/zubat.jpg', 'typeIcon': 'ico...","[{'name': 'Bite', 'dp': 60, 'type': 'dark'}, {..."

In [22]:
list(df.columns)

['name', 'shortname', 'hp', 'info', 'images', 'moves']

In [23]:
df.iloc[[10,11,12]]

,name,shortname,hp,info,images,moves
10,Butterfree,butterfree,230,"{'id': 12, 'type': 'flying', 'weakness': 'fire...","{'photo': 'images/butterfree.jpg', 'typeIcon':...","[{'name': 'Double Team', 'type': 'normal'}, {'..."
11,Caterpie,caterpie,200,"{'id': 10, 'type': 'grass', 'weakness': 'fire'...","{'photo': 'images/caterpie.jpg', 'typeIcon': '...","[{'name': 'Bug Bite', 'dp': 60, 'type': 'bug'}..."
12,Chansey,chansey,610,"{'id': 113, 'type': 'normal', 'weakness': 'fig...","{'photo': 'images/chansey.jpg', 'typeIcon': 'i...","[{'name': 'Defense Curl', 'type': 'normal'}, {..."

In [32]:
edf = pd.DataFrame({"name":["TEST"]})

In [34]:
"hp" in df.columns

True

In [33]:
pd.concat([edf, df], ignore_index=True)

,name,shortname,hp,info,images,moves
0,TEST,NaN,NaN,NaN,NaN,NaN
1,Abra,abra,160.0,"{'id': 63, 'type': 'psychic', 'weakness': 'dar...","{'photo': 'images/abra.jpg', 'typeIcon': 'icon...","[{'name': 'Double Team', 'type': 'normal'}, {'..."
2,Aerodactyl,aerodactyl,270.0,"{'id': 142, 'type': 'flying', 'weakness': 'wat...","{'photo': 'images/aerodactyl.jpg', 'typeIcon':...","[{'name': 'Bite', 'dp': 60, 'type': 'dark'}, {..."
3,Alakazam,alakazam,220.0,"{'id': 65, 'type': 'psychic', 'weakness': 'dar...","{'photo': 'images/alakazam.jpg', 'typeIcon': '...","[{'name': 'Focus Blast', 'dp': 120, 'type': 'f..."
4,Arbok,arbok,230.0,"{'id': 24, 'type': 'poison', 'weakness': 'psyc...","{'photo': 'images/arbok.jpg', 'typeIcon': 'ico...","[{'name': 'Acid', 'dp': 40, 'type': 'poison'},..."
...,...,...,...,...,...,...
147,Weepinbell,weepinbell,160.0,"{'id': 70, 'type': 'grass', 'weakness': 'fire'...","{'photo': 'images/weepinbell.jpg', 'typeIcon':...","[{'name': 'Acid', 'dp': 40, 'type': 'poison'},..."
148,Weezing,weezing,160.0,"{'id': 110, 'type': 'poison', 'weakness': 'psy...","{'photo': 'images/weezing.jpg', 'typeIcon': 'i...","[{'name': 'Assurance', 'dp': 60, 'type': 'dark..."
149,Wigglytuff,wigglytuff,160.0,"{'id': 40, 'type': 'fairy', 'weakness': 'poiso...","{'photo': 'images/wigglytuff.jpg', 'typeIcon':...","[{'name': 'Brick Break', 'dp': 75, 'type': 'fi..."
150,Zapdos,zapdos,160.0,"{'id': 145, 'type': 'electric', 'weakness': 'r...","{'photo': 'images/zapdos.jpg', 'typeIcon': 'ic...","[{'name': 'Ancient Power', 'dp': 120, 'type': ..."
151,Zubat,zubat,160.0,"{'id': 41, 'type': 'poison', 'weakness': 'psyc...","{'photo': 'images/zubat.jpg', 'typeIcon': 'ico...","[{'name': 'Bite', 'dp': 60, 'type': 'dark'}, {..."

In [35]:
from typing import Iterable

In [37]:
import numpy as np

In [38]:
a = np.array([1,2,3])

In [39]:
isinstance(a, Iterable)

True

In [13]:
class Test:
    def append(self, t2):
        if isinstance(t2, pd.DataFrame):
            self = t2

In [14]:
t = Test()

In [15]:
t.append(df)

In [18]:
isinstance(df, pd.DataFrame)

True

In [6]:
from langchain.embeddings import OpenAIEmbeddings

In [7]:
embeddings = OpenAIEmbeddings()

ValidationError: 1 validation error for OpenAIEmbeddings
__root__
  Could not import openai python package. Please install it with `pip install openai`. (type=value_error)

In [8]:
a = np.zeros((4,320))

NameError: name 'np' is not defined

In [9]:
b = np.ones((100,320))

In [13]:
o = b-a[:, np.newaxis]

In [14]:
o.shape

(4, 100, 320)

In [2]:
import pandas as pd
import duckdb

class Test:
    def __init__(self):
        self.con = duckdb.connect()
        self.mydf = pd.DataFrame({'a' : [1, 2, 3], 'b':[0,0,10]})
        rel = self.con.from_df(self.mydf)
        self.filtered = rel.filter('b == 0').df()

In [3]:
t = Test()

In [4]:
t.filtered

   a  b
0  1  0
1  2  0

In [5]:
t.con

In [15]:
a = np.ones((32,32))

In [1]:
a = [1,2,3,4]

In [2]:
from typing import Iterable

In [6]:
isinstance(a, Iterable)

True

In [13]:
pd.concat([t.mydf, pd.DataFrame([{"a":1, "b":3}, {"a":1, "b":3}])], ignore_index=True)

ValueError: If using all scalar values, you must pass an index